body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topNavigation{
    height: 80px;
    text-align: center;
    background-color: #4689FF;
    color: #fff;
    padding: 26px 0;
    font-size: 0.75rem;
    }

.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin-top: 10px;
}

form {
    background-color: #BAD3FF;
}

canvas{
    border: 1px solid #000000;    
    touch-action: none;
    }

footer {
    background: #4689FF;
    color: #fff;
    text-align: center;
    height: 80px;
    padding: 26px 0;
    font-size: 0.75rem;
    }
